<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

 
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card">
            <div class="card-header">Tabla de Especialidades
           <div class="card-action">
                  <div class="dropdown">
                  <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                   <i class="icon-options"></i>
                  </a>
                   <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item" href="javascript:void();">Añadir</a>
                   <a class="dropdown-item" href="javascript:void();">Actualizar</a>
                   </div>
                   </div>
                  </div>
          </div>
              <div class="table-responsive">
                      <table class="table align-items-center table-flush table-borderless">
                       <thead>
                        <tr>
                          <th>Especialidad</th>
                          <th>descripcion</th>
                          <th>estado</th>
                          <th></th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody><tr>
                         <td>Odontologia</td>
                         <td>Consultorio numero 2 final del pasillo</td>
                         <td class="text-center">
                               <a class="btn btn-success" id="botonVerde" href="/addEsp/{{_id}}/toggleDone">Activa</a>
                       </td>
                       <td class="text-right">
                        <button class="btn btn-primary mb-1" data-toggle="modal" id="botonAzul"
                            data-target="#m{{@index}}">
                            <i class="zmdi zmdi-brush"> Editar</i>
                        </button>
   
   
                    </td>
                    <td class="text-right">
                        <form action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger mb-1 ml-1" id="botonRojo">
                                <i class="fa fa-trash"> Eliminar</i>
                            </button>
                        </form>
                    </td>
                        </tr>
     
                        <tr>
                          <td>Odontologia</td>
                          <td>Consultorio numero 2 final del pasillo</td>
                          <td class="text-center">
                            <a class="btn btn-success" id="botonVerde" href="/addEsp/{{_id}}/toggleDone">Activa</a>
                    </td>
                    <td class="text-right">
                      <button class="btn btn-primary mb-1" data-toggle="modal" id="botonAzul"
                          data-target="#m{{@index}}">
                          <i class="zmdi zmdi-brush"> Editar</i>
                      </button>
 
 
                  </td>
                  <td class="text-right">
                      <form action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-danger mb-1 ml-1" id="botonRojo">
                              <i class="fa fa-trash"> Eliminar</i>
                          </button>
                      </form>
                  </td>
                         </tr>
     
                         <tr>
                          <td>Odontologia</td>
                          <td>Consultorio numero 2 final del pasillo</td>
                          <td class="text-center">
                            <a class="btn btn-success" id="botonVerde" href="/addEsp/{{_id}}/toggleDone">Activa</a>
                    </td>
                    <td class="text-right">
                      <button class="btn btn-primary mb-1" data-toggle="modal" id="botonAzul"
                          data-target="#m{{@index}}">
                          <i class="zmdi zmdi-brush"> Editar</i>
                      </button>
 
 
                  </td>
                  <td class="text-right">
                      <form action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-danger mb-1 ml-1" id="botonRojo">
                              <i class="fa fa-trash"> Eliminar</i>
                          </button>
                      </form>
                  </td>
                         </tr>

                         <tr>
                          <td>Odontologia</td>
                          <td>Consultorio numero 2 final del pasillo</td>
                          <td class="text-center">
                            <a class="btn btn-success" id="botonVerde" href="/addEsp/{{_id}}/toggleDone">Activa</a>
                    </td>
                    <td class="text-right">
                      <button class="btn btn-primary mb-1" data-toggle="modal" id="botonAzul"
                          data-target="#m{{@index}}">
                          <i class="zmdi zmdi-brush"> Editar</i>
                      </button>
 
 
                  </td>
                  <td class="text-right">
                      <form action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-danger mb-1 ml-1" id="botonRojo">
                              <i class="fa fa-trash"> Eliminar</i>
                          </button>
                      </form>
                  </td>
                         </tr>
     
                         <tr>
                          <td>Odontologia</td>
                          <td>Consultorio numero 2 final del pasillo</td>
                          <td class="text-center">
                            <a class="btn btn-success" id="botonVerde" href="/addEsp/{{_id}}/toggleDone">Activa</a>
                    </td>
                    <td class="text-right">
                      <button class="btn btn-primary mb-1" data-toggle="modal" id="botonAzul"
                          data-target="#m{{@index}}">
                          <i class="zmdi zmdi-brush"> Editar</i>
                      </button>
 
 
                  </td>
                  <td class="text-right">
                      <form action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-danger mb-1 ml-1" id="botonRojo">
                              <i class="fa fa-trash"> Eliminar</i>
                          </button>
                      </form>
                  </td>
                         </tr>
                
                         <tr>
                          <td>Odontologia</td>
                          <td>Consultorio numero 2 final del pasillo</td>
                          <td class="text-center">
                            <a class="btn btn-success" id="botonVerde" href="/addEsp/{{_id}}/toggleDone">Activa</a>
                    </td>
                    <td class="text-right">
                     <button class="btn btn-primary mb-1" data-toggle="modal" id="botonAzul"
                         data-target="#m{{@index}}">
                         <i class="zmdi zmdi-brush"> Editar</i>
                     </button>


                 </td>
                 <td class="text-right">
                     <form action="/addEsp/delete/{{_id}}?_method=DELETE" method="POST">
                         <input type="hidden" name="_method" value="DELETE">
                         <button class="btn btn-danger mb-1 ml-1" id="botonRojo">
                             <i class="fa fa-trash"> Eliminar</i>
                         </button>
                     </form>
                 </td>
                         </tr>
     
                      </tbody></table>
                    </div>
          </div>
        </div>
       </div><!--End Row-->
