 <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Tabla de Habitantes</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>cedula</th>
                                            <th>edad</th>
                                            <th>Nro Casa</th>
                                            <th>Grupo Familiar</th>
                                            <th>sexo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                      <!-- El contenido de la tabla sera generado por el codigo JavaSvrip aqui-->
                                      {{#each habitante}}
                                        <tr>
                                        <td>{{nombres}}</td>
                                        <td>{{cedula}}</td>
                                        <td>{{edad}}</td>
                                        <td>{{familia.casa}}</td>
                                        <td>{{familia.codigo}}</td>
                                        <td>{{sexo}}</td>
                                        <!-- ver mas -->
                                        <td class="text-center">
                                          <a class="btn btn-success" href="/verHab/{{_id}}">ver mas</a>
                                        </td>
                                      {{/each}}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div><!-- .contenido -->

        <!-- panel inferior -->
        <div class="clearfix"></div>

          <footer class="site-footer">
              <div class="footer-inner bg-white">
                  <div class="row">
                      <div class="col-sm-6">
                          Copyright &copy; 2023 UNEFA
                      </div>
                      <div class="col-sm-6 text-right">
                          Diseñado por <a href="/">estudiantes de servicio comunitario</a>
                      </div>
                  </div>
              </div>
          </footer>

           </div><!-- /#right-panel -->
        <!-- /panel inferior-->


