<div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->


                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="pe-7s-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalHab}} </span></div>
                                            <div class="stat-heading">Habitantes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-2">
                                        <i class="ti-home"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalCasas}} </span></div>
                                            <div class="stat-heading">Casas</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="menu-icon fa fa-group"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalFam}} </span></div>
                                            <div class="stat-heading">familias</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                        
                        
                </div>


                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-6">
                                        <i class="menu-icon fa fa-female"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalF}} </span></div>
                                            <div class="stat-heading">Mujeres</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-3">
                                        <i class="menu-icon fa fa-male"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalM}} </span></div>
                                            <div class="stat-heading">Hombres</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="menu-icon fa fa-smile-o"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalNiños}} </span></div>
                                            <div class="stat-heading">niños -12años</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="row">

                        
                     <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-5">
                                        <i class="menu-icon fa fa-child"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalAdo}} </span></div>
                                            <div class="stat-heading">Adolescentes de 12 a 18 años</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="menu-icon fa fa-user"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalAdultos}} </span></div>
                                            <div class="stat-heading">Adultos de 18 a 60 años </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="menu-icon fa fa-blind"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"> {{totalMayores}} </span></div>
                                            <div class="stat-heading">adultos mayores de 60 años</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                    

                    

                    

                
                <!-- /Widgets -->
          
            <!-- /#add-category -->
            </div>
            <!-- .animated -->
        </div>
        <!-- panel inferior -->
        <div class="clearfix"></div>

          <footer class="site-footer">
              <div class="footer-inner bg-white">
                  <div class="row">
                      <div class="col-sm-6">
                          Copyright &copy; 2023 UNEFA
                      </div>
                      <div class="col-sm-6 text-right">
                          Diseñado por <a href="">estudiantes de servicio comunitario</a>
                      </div>
                  </div>
              </div>
          </footer>
    </div>
    <!-- /#right-panel -->